* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    height: 350px;
    width: 230px;
    padding: 30px;
    background-color: rgba(245, 245, 245, 0.839);
    border-radius: 10px;
    text-align: center;
    /* border: 2px solid black; */
}

#card img {
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    background: linear-gradient(red,blue,orange,rgb(235, 7, 193),yellow);
    padding: 3px;
}

#card h1 {
    font-size: 33px;
    margin: 10px 0;
}

#card h5 {
    font-size: 27px;
    color: red;
    margin: 13px;
}

#card button {
    background-color: rgb(40, 119, 40);
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

/* #card #remove {
    background-color: #6860608e;
    color: black;
} */

#add:hover {
    background-color: rgb(8, 178, 8);
}

/* #card #remove:hover {
    background-color: rgba(210, 44, 44);
} */